<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".NotesWidgetApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesWidgetForMarkdown">
        <activity
            android:name=".presentation.setup.SetupActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NotesWidgetForMarkdown">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.widget.TrampolineActivity"
            android:exported="false"
            android:theme="@style/Theme.Translucent" />

        <activity
            android:name=".presentation.widget.FastNoteActivity"
            android:exported="false"
            android:theme="@style/Theme.Translucent" />

        <service
            android:name=".worker.NotesFolderObserverJob"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".presentation.widget.NotesListWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/notes_list_widget_info" />
        </receiver>

        <receiver
            android:name=".presentation.widget.NotesWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/notes_widget_info" />
        </receiver>
    </application>

</manifest>
